
h2{
    color: pink;
}
h3{
    color: orange;
}
h4 {
    color: green;
}
h5 {
    color: red;
}
h6 {
    color: blue;
    font-size: xx-large; white-space: pre-wrap;
}
#hallo{
    color: aqua;
}
#inhoud{
    width: 900px;
    height: 390px;
    border: 1px solid #999999;
    padding: 5px;
}
