
@{
    ViewData["Title"] = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leveling Guide</h2>

Level 1-30<br />
          <br />
Characters such as Shade, Cadena, Illium, and Ark have their Tutorial Questlines until level 30. It is strongly recommended that you follow those questlines instead.<br />
                                                                                                                                                                     <br />
10-15: Golem's Temple Entrance (Stone Golem)<br />
15-30: Golem Temple 3 (Flaming Mixed Golem)<br />
25-30: Green Tree Trunk (Curse Eye)<br />
27-30: Road to the Mine 2  (Safety First)<br />
                                         <br />
Level 30-60<br />
                                         <br />
Theme Dungeons (Elodin, Ellinel Fairy Academy, Gold Beach, & Riena Strait) are excellent ways to level up from 30-60 as they scale in EXP earned and for many classes are much faster than mobbing. Gold Beach & RIena Strait are considered the fastest two<br />
                                                                                                                                                                                                                                                            <br />
30-40: Stray Dog Alley 1 & 2 (Specter Stray Dog & Mutant Specter Stray Dog)<br />
40-50: Mr. Hazard's Lair 1, 2, & 3 (Hazard's Rotten Crony & Hazard's Mean Crony)<br />
48-60: Wild Boar Land (Wild Boar & Terrified Wild Boar)<br />
<br />
Level 60-100<br />
            <br />
60-70: Cold Wind & Chilly Cave (Ice Drake)<br />
60-77: Silent Swamp & Humid Swamp (Copper Drake)<br />
65-81: Stairway to the Sky I (Cellion, Grupin, & Lioner)<br />
72-90: Ice Valley II (White Fang)<br />
80-100: Sahel 2 (Sand Rat & Scorpion)<br />
90-100: Lab - Area C-2 (New Huroid & Roid)<br />
                                          <br />
------------------------------------------------------------------------------------------------------------------<br />
100: Normal Zakum Boss (Make sure you have an MVP EXP Buff and a rune active. If you have an EXP coupon, use it as well as this will give you several levels)<br />
------------------------------------------------------------------------------------------------------------------<br />
                                                                                                                  <br />
Level 100-140<br />
             <br />
100-110: West Leafre Forest (Rash)<br />
100-110: East Forest (Beetle)<br />
100-113: Sky Nest II |★5| (Blood Harp)<br />
                                      <br />
-------------------------------------------------------------------<br />
105: Monster Park Extreme twice daily for exp and potions<br />
-------------------------------------------------------------------<br />
                                                                   <br />
105-120: Sky Terrace 5 (Toy Trojan)<br />
108-120: Toy Factory Apparatus Room<br />
                                   <br />
(Robo & Master Robo)<br />
120-128: Warped Path of Time 3<br />
|★26| (Ghost Pirate)<br />
120-130: Forgotten Passage |★28| (Thanatos)<br />
125-140: Black Mountain Entrance (Moon Bunny)<br />
125-140: Moonlight Ridge (Three-Tailed Fox & Blin)<br />
130-140: Tiger Forest II (Hodori & Hogul)<br />
130-140: Cave of Trials III |★55| (Bain)<br />
                                         <br />
------------------------------------------------------------------------------------------------------------------<br />
139: Goblin House (Yellow Goblins) Highest drop rate for Pensalir Set and takes about 1 level to get the entire set<br />
------------------------------------------------------------------------------------------------------------------<br />
<br />
Level 140-200<br />
             <br />
140-150: Temple of Time Quest Line (Required for Pink Bean)<br />
140-149: Red-Nose Pirate Den 2 (Kru & Captain)<br />
143-154: [Theme Dungeon] Commerci Republic (To acquire Sweetwater equips)<br />
145-150: [Theme Dungeon] Kerning Tower<br />
145-154: 2F Cafe 4<br />
|★80| (Enraged Espresso Machine)<br />
148-161: 5F Cosmetics Shop 3<br />
(Deadly Dressing Table)<br />
150-163: Road to Oblivion 3 & 4 (Eye of Time, Oblivion Guardian, & Chief Oblivion Guardian)<br />
158-166: Henesys Ruins: Market (Mutant Snail)<br />
                                             <br />
------------------------------------------------------------------------------------------------------------------<br />
160-180: - Kenta PQ is a great alternative for leveling if you don't have enough range to comfortably clear 160+ maps. 160 is when mobs in reboot begin to heavily scale in HP.<br />
------------------------------------------------------------------------------------------------------------------<br />
                                                                                                                  <br />
160-171: Boswell Field III & IV (Plateon & Mateon)<br />
165-180:  [Theme Dungeon] Omega Sector<br />
168-185: Inside the Mothership: Corridor 202 (Gray Luxury Saucer)<br />
180-190: Inside the Mothership: Corridor H03 |★140| (Gray Luxury Saucer)<br />
185-192: Deserted Southern Ridge & Desolate Rocky Road (Swollen Stump & Swollen Dark Stump)<br />
191-200: Forsaken Excavation Site 2 (Sinister Rocky Mask)<br />
194-200: Warrior Grounds (Ancient Mixed Golem)<br />
