<link rel="stylesheet" href="~/css/MapleHub.css" />

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 id="Jodenkoek">Welcome to Maple-Hub</h1>
<h2>The place </h2> <h3>to be</h3><h4>for all</h4>  <h5>your maplestory</h5><h6>ins and outs.</h6>

